@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission08_Team0413.Models.TaskEntry


@{
    ViewData["Title"] = "CreateTask";
}



<h1>Add Task</h1>

<form method="post" >
    <label asp-for="TaskId">Task</label>
<input asp-for="TaskId" class="form-control" required/>

<br /><br />

    <label asp-for="DueDate">Due Date</label>
<input asp-for="DueDate" class="form-control" />

<br /><br />
    
    <label asp-for="Quadrant">Quadrant</label>
<input asp-for="Quadrant" class="form-control" required />

<br /><br />


    
<!-- Use this if you want to use Model -->
    <label asp-for="CategoryId">Category</label>
    <select>
        <option value="">Select a Category</option>
        @foreach(var category in Model.Categories)
        {
            <option value="@category.CategoryId">@category.CategoryName</option>
        })
    </select>

    <!-- Use this if you want to use ViewBag
    <label asp-for="Category" class="form-control" />
    <select>
        <option value="">Select a Category</option>
        @foreach(Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        })
    </select>
    -->

    <!--Use this if you want to hard code it
    <label asp-for="CategoryId">Category</label>
<select>
        <option value="">Select a Category</option>
        <option value="1">Home</option>
        <option value="2">School</option>
        <option value="3">Work</option>
        <option value="4">Church</option>
</select>
            -->

<br /><br />

    <label asp-for="Completed">Completed</label>
        <select asp-for="Completed" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

<br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>

</form>