@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission08_Team0413.Models.TaskEntry


@{
    ViewData["Title"] = "CreateTask";
}



<h1>Add Task</h1>

<form method="post" >
    <label asp-for="EnteredTask">Task</label>
<input asp-for="EnteredTask" class="form-control" required/>

<br /><br />

    <label asp-for="DueDate">Due Date</label>
<input asp-for="DueDate" type="date" class="form-control" />

<br /><br />
    
    <label asp-for="Quadrant">Quadrant</label>

<select asp-for="Quadrant">
    <option value="1">Important and Urgent</option>
    <option value="2">Important but not Urgent</option>
    <option value="3">Not Important but Urgent</option>
    <option value="4">Not Important and Not Urgent</option>
</select>

<br /><br />


    

    <!--Use this if you want to hard code it-->
     <label asp-for="Category">Category</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach(Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        })
    </select>
            

<br /><br />

    <label asp-for="Completed">Completed</label>
        <select asp-for="Completed" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

<br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}