<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h1 class="display-4">Welcome to Your Prioritized To-Do List!</h1>
                <p>Click on the "To-Do List" link to view your tasks, or click on the "Add Task" link to add a new task.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <img src="~/img/hiltonfamily.jpg" class="img-fluid" alt="Hilton Family">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h2>About Us</h2>
                <p>We are proud to be endorsed by Spencer Hilton and his family, as seen in the image above. Our commitment is to provide you with a prioritized to-do list experience that helps you stay organized and productive.</p>
            </div>
        </div>
    </div>
</div>

