@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Prioritized To-Do List!</h1>
    

<p>Click on the "To-Do List" link to view your tasks, or click on the "Add Task" link to add a new task.</p>
</div>
